html,
body {
  margin: 0;
  overflow-x: hidden;
}

.header {
  background-image: linear-gradient(
    to top right,
    #25acab 10%,
    #4f98b3 15%,
    #5f8bb7 20%,
    #b33ad4 80%
  );
}

.header-menu-mobile {
  display: none;
  width: 100%;
  z-index: 20;
  position: relative;
  overflow: hidden;
}

.header-nav-menu a {
  color: white;
}

.header-nav {
  display: flex;
  background-color: transparent;
  width: 70%;
  height: 100px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  display: flex;
}

.mobile-menu-icon {
  display: none;
}

.header-nav-img {
  display: flex;
  align-items: center;
  width: 30%;
}

.header-nav-img img {
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.header-nav-menu {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  color: white;
}

.header-nav-img-text {
  font-weight: 600;
  margin-left: 5px;
  color: white;
}

.sign-up {
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  border-radius: 30px;
}

.header-nav-content {
  padding: 40px 0px;
}

.header-nav-content__title {
  font-size: 70px;
  font-weight: 800;
  padding: 40px 0px 0px 0px;
  letter-spacing: 2px;
  color: white;
}

.header-nav-content__title span {
  color: #00d4f1;
}

.header-nav-content__description {
  font-size: 25px;
}

.header-nav-content__btn {
  display: flex;
  padding: 50px 0px;
  font-size: 20px;
  justify-content: center;
}

.header-nav-content__btn-get {
  padding: 10px 40px;
  background-color: white;
  font-size: 20px;
  color: black;
  border-radius: 60px;
  margin-right: 5px;
}

.header-nav-content__btn-try {
  padding: 10px 40px;
  color: white;
  margin-left: 5px;
  border: 1px solid white;
  border-radius: 60px;
}

/*Banner of service*/

.service-banner-content {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: space-between;
  padding: 100px 0px;
}

.service-banner-title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 40px 0px;
}

.service-banner-content-part {
  width: calc(33.333% - 20px);
  box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.11),
    0 12px 90px 0 rgba(0, 0, 0, 0.11);
}

.service-banner-content-part-div {
  padding: 50px 40px;
  width: 100%;
  background-color: white;
  height: 100%;
  border-radius: 10px;
}

.service-banner-content-part-div__atom {
  padding: 50px 40px;
  width: 100%;
  background-image: linear-gradient(
    to top right,
    #25acab 10%,
    #4f98b3 15%,
    #5f8bb7 20%,
    #b33ad4 80%
  );
  color: white;
  height: 100%;
  border-radius: 10px;
}

.service-banner-content-part:hover .service-banner-content-part-div {
  transform: scale(1.05);
  cursor: pointer;
}

.service-banner-content-part:hover .service-banner-content-part-div__atom {
  transform: scale(1.05);
  cursor: pointer;
}

.service-banner-content-part__title {
  font-size: 30px;
  font-weight: 700;
}

.service-banner-content-part__learn {
  color: #00d4f1;
}

/*service-pricing*/
.service-pricing {
  background-color: #9649e6;
}

.service-pricing__container {
  width: 65%;
  margin: auto;
}

.service-pricing__container-title {
  text-align: center;
  color: white;
  font-size: 60px;
  padding: 40px;
  font-weight: 600;
}

.service-pricing__container-description {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.service-pricing__container-content {
  display: flex;
  justify-content: space-between;
  padding: 80px 0px;
}

.service-pricing__container-part {
  background-color: white;
  padding: 30px 20px;
  border-radius: 10px;
  width: 30%;
}

.service-pricing__container-part-title {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.service-pricing__container-part-description {
  text-align: center;
  color: #5c5c5c;
  font-size: 12px;
  font-weight: 700;
}

.service-pricing__container-part-img {
  padding: 30px;
}

.service-pricing__container-part-img img {
  width: 100%;
  object-fit: cover;
}

.service-pricing__container-part-price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-pricing__container-part-price-number {
  font-size: 40px;
  color: #00d7bb;
  font-weight: 800;
  margin-right: 8px;
}

.service-pricing__container-part-list ul {
  list-style: none;
  padding: 20px;
  text-align: center;
}

.service-pricing__container-part-list ul li {
  padding: 10px 0px;
}

.service-pricing__container-part-button {
  width: 80%;
  background-color: #00d4f1;
  cursor: pointer;
  margin: auto;
  text-align: center;
  padding: 20px 0px;
  border-radius: 40px;
  color: white;
}

/*service-about*/

.service-about {
  background-color: #449eb0;
}

.service-about__container {
  width: 75%;
  margin: auto;
}

.service-about__title {
  text-align: center;
  color: white;
  font-size: 50px;
  padding: 50px 0px;
}

.service-about__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.service-about__content-part {
  width: 32%;
  padding: 40px;
  display: flex;
}

.service-about__content-part-content {
  margin-left: 20px;
}

.service-about__content-part-content__description {
  margin-top: 10px;
}

.service-about__content-part-content__btn {
  width: fit-content;
}

.service-about__content-part-content__btn-content {
  cursor: pointer;
  background-color: white;
  color: #9649e6;
  font-weight: 600;
  font-size: 12px;
  width: fit-content;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 30px;
}

.service-about__content-part-content__btn-content:hover {
  background-color: #9649e6;
  color: white;
}

.service-about__content-part-content__title {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.service-about__content-part-content__description {
  color: white;
}
/*Footer */
.footer-content {
  width: 75%;
  margin: auto;
  padding: 70px 0;
}

.footer-nav-img-text {
  font-weight: 600;
  margin-left: 5px;
  font-size: 25px;
  color: black;
}

.footer-product {
  font-weight: 600;
  font-size: 20px;
  padding-top: 10px;
  color: black;
}

.footer-list ul {
  list-style: none;
  padding: 0;
}

.footer-list ul li {
  padding: 10px 0px;
}

.footer-subcribe__input {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.footer-subcribe__input input {
  border: none;
  background-color: #e5e7eb;
  font-size: 12px;
  padding-left: 10px;
  width: 70%;
}

.footer-subcribe__input button {
  background-color: #00d4f1;
  color: white;
  font-size: 12px;
  border: none;
  padding: 0px 20px;
}

.footer-subcribe__text {
  font-size: 16px;
}

.footer-address {
  display: flex;
  margin-top: 30px;
}

.footer-contact {
  width: 75%;
  margin: auto;
  padding: 40px 0px;
}

.footer-contact ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .header-nav {
    justify-content: space-between;
    width: calc(100% - 40px);
  }

  .sign-up {
    display: none;
  }

  .header-nav-content {
    padding: 0;
  }

  .header-nav-content__title {
    font-size: 60px;
  }

  .header-nav-content__description {
    font-size: 16px;
  }

  .header-img {
    padding: 40px 0;
  }

  .mobile-menu-icon {
    display: block;
  }

  .header-nav-menu {
    display: none;
  }

  .header-nav-content__btn {
    flex-wrap: wrap;
  }

  .header-nav-content__btn-get {
    text-align: center;
    margin-left: 10px;
    width: 60%;
  }

  .header-nav-content__btn-try {
    text-align: center;
    margin-top: 30px;
    width: 60%;
  }

  .header-img img {
    transform: scale(0.94);
  }

  .minus {
    display: none;
  }

  .header-menu-mobile__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: white;
    animation-name: toTop;
    animation-duration: 2s;
  }

  .header-menu-mobile__content a {
    padding: 35px 25px;
  }

  .header-menu-mobile__content a:focus {
    color: white;
    background-image: linear-gradient(
      to top right,
      #25acab 15%,
      #4f98b3 25%,
      #5f8bb7 30%,
      #b33ad4 80%
    );
  }

  @keyframes toTop {
    0% {
      margin-top: -120%;
    }
    100% {
      margin-top: 0;
    }
  }

  .service-banner-content {
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0px;
  }

  .service-banner-content-part {
    width: 90%;
    margin: 20px auto;
  }

  .service-banner-content-part__atom {
    width: 90%;
    margin: 20px auto;
  }

  .service-banner-content-part__collaborative {
    width: 90%;
    margin: 20px auto;
  }

  /*service-pricing*/

  .service-pricing__container {
    width: 80%;
  }

  .service-pricing__container-title {
    font-size: 45px;
    padding: 40px 0px 0px 0px;
  }

  .service-pricing__container-description {
    font-size: 16px;
    margin-top: 20px;
  }

  .service-pricing__container-content {
    flex-wrap: wrap;
    padding: 40px 0px;
  }

  .service-pricing__container-part {
    margin-top: 30px;
    width: 100%;
  }

  /*service-about*/

  .service-about__container {
    width: 90%;
    margin: auto;
  }

  .service-about__content {
    flex-wrap: wrap;
    width: 100%;
  }

  .service-about__content-part {
    width: 100%;
    padding: 30px 0px;
  }

  /*Footer*/
  .footer-content {
    width: calc(100% - 20px);
  }

  .footer-contact {
    width: calc(100% - 30px);
  }
}
